@import "src/styles/index";

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  margin-top: 30px;
  padding: 30px 100px 30px 30px;
  color: #ffffff;
  background-color: $primary-color;
  border-radius: 10px;

  img {
    height: 175px;
    margin-top: -25px;
  }
}

.welcome-back-line {
  font-size: 14px;
  text-transform: uppercase;
}

.welcome-text {
  line-height: 1;
  font-size: 34px;
  font-weight: 500;
}

.dashboard-data-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  > div {
    flex-basis: calc(100%/4);
  }
}

.dashboard-data-second-row {
  margin: 0 -15px;
}

.dashboard-second-row-content {
  display: flex;
  gap: 0 10px;
}
.dashboard-data-row-item {
  display: flex;
  align-items: center;
  line-height: initial;

  > div {
    text-align: center;
  }

  img {
    height: 90px;
  }
}

.dashboard-data-title {
  font-size: 20px;
  font-weight: 500;
  color: #666666;
  text-align: center;
  white-space: nowrap;
}

.dashboard-data-value {
  font-size: 38px;
  font-weight: 800;
  color: #003399;
}

.dashboard-graphs-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0 10%;
  margin-top: 40px;

  .title {
    font-size: 20px;
    font-weight: 500;
    color: $primary-color;
  }

  img {
    height: 50px;
  }
}

.dashboard-pipeline-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  div {
    white-space: nowrap;
  }
  button.slim-button {
    background-color: $info-color;
    color: #ffffff;
  }
}

.pipeline-graph-container {
  margin-top: 17px;
}

.dashboard-graph .no-data-style{
  min-height: 200px;
  padding: 30px;
  text-align: center;
  font-style: italic;
}
