@import "color-palette";

.react-datepicker__input-container input {
  height: 25px;
  width: inherit;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* HTML Checkbox modification starts here */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\00a0";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
  padding: 0;
  font: 14px/1em Roboto;
  background-color: #cccccc;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
  content: "";
  background: $primary-color;
}

input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
/* HTML Checkbox modification ends here */

/* date picker changes start here */

/* date picker changes end here */
