@import "src/styles/index";

.upper-header-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 35px;
  width: 100%;
  background-color: $secondary-variant-color;
}

.upper-header--rounded-block {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
  min-width: 180px;
  max-width: 200px;
  padding: 3px;
  font-size: 12px;
  font-weight: 500;
  background-color: $background-primary-color;
  border-radius: 20px;
  cursor: pointer;

  label {
    width: calc(100% - 80px);
    margin: 0px 5px;
  }
}

.search-block {

  input {
    width: calc(100% - 55px);
    margin: 0 10px;
    font-size: 14px;
    border: none;
    outline: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: $success-color;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    img {
      height: 16px;
    }
  }
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  min-height: 46px;
  min-width: 46px;
  margin: 0 20px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  img {
    height: 35px;
  }
}

.user-dp {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.date-picker-btn{
  background-color:white !important;
}
.date-picker-btn:focus{
  outline: none;
}
.down-arrow {
  position: relative;
  display: inline-block;

  img {
    width: 16px;
    cursor: pointer;
  }
  .date-range-img
  {
   height: 30px;
  width: 30px;
  }
}

.logout-area{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* .logout-area:hover .user-dropdown{
  display: block;
} */
.user-dropdown {
  display: block;
  position: absolute;
  top: 30px;
  right: -23px;
  min-width: 190px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 1;
}

/* .down-arrow:hover .user-dropdown {
  display: block;
} */
.label-area{
  cursor: pointer;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  color: $primary-font-color;
  cursor: pointer;

  img {
    width: 20px;
    margin-right: 10px;
  }
}

.dropdown-option:not(:last-child) {
  border-bottom: 1px solid #BCBDBF;
}

.dropdown-option:hover {
  background-color: $secondary-variant-color;
}
.open-search-area{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  color: $primary-font-color;
  cursor: pointer;
}
.search-area{
  display: block;
  position: absolute;
  top: 30px;
  right: -23px;
  min-width: 190px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 1;
}
.date-range-picker-layout-outer{
  z-index: 1;
  position: relative;
  margin: -20vh;

}
.date-range-picker-layout-inner{
  z-index: 999;
  position: absolute;
  background: white;
  left: -120%;
  top: 28px;
  box-shadow: 0 0 30px 8px lightgrey;
  border-radius: 19px
}
