@import "src/styles/index";
@import "./node_modules/bootstrap/scss/bootstrap";

.client-detail-blocks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  margin: 15px 0;
  gap: 20px;
}
.client-detail-page{
   min-height: 80vh;
}

.pagination {
  padding-top: 20px!important;
  font-weight: 500!important;
}

.pagination > a, .pagination > .active > a
{
  color: $primary-color !Important;
  background-color: $secondary-color !Important;
  border: none !Important;
  border-radius: 50% !important;
  outline: none!important;
}
.page-link {
  margin: 0 5px!important;
  color: $primary-font-color !Important;
  border: none!important;
  border-radius: 50% !important;
}
.page-link:hover {
  border-radius: 50% !important;
}
.page-link:focus {
  box-shadow: none!important;
}

.page-item.disabled .page-link {
  color: $placeholder-color!important;
  cursor: not-allowed!important;
}
