@import "src/styles/index";
@import "./node_modules/bootstrap/scss/bootstrap";

.client-detail-blocks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  margin: 15px 0;
  gap: 20px;
}
.client-detail-page{
   min-height: 80vh;
}
.pagination > a
{
  color: $primary-font-color !Important;
  background-color: #ebebeb !Important;
  border: solid 1px #ebebeb !Important;
}
.pagination > .active > a
{
  color: #ebebeb !Important;
  background-color: $primary-font-color !Important;
  border: solid 1px $primary-font-color !Important;
}
.page-link {
  color: $primary-font-color !Important;
}

