@import '../../styles/index.scss';

.text-content p {
  text-align: center !important;
}
.btn-width {
  width: 250px !important;
  padding: 13px !important;
  margin: 7px !important;
}
.p-left {
  padding-left: 7px !important;
}
.text-transform {
  text-transform: uppercase;
  color: #1d1d51;
  font-family: 'Roboto' !important;
}
.m-top {
  margin-top: 40px !important;
}

.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

.quote-text {
  margin-bottom: 15px;
  font-size: 16px;
  color: $secondary-font-color;
  font-family: "Roboto Slab" !important;
  font-weight: lighter;
  text-align: center;
}

.justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}

.paragraph {
  margin: auto;
  font-size: 21px;
  text-align: center;
  max-width: 648px;
  text-align-last: center;
}
